.modal__content_delete-modal {
  width: 100%;
  height: 280px;
  background-color: white;
  max-width: 670px;
  font-size: 20px;
  line-height: 24px;
  padding: 60px 0 60px;
}

.modal__delete-text {
  margin: 0 0 40px;
}

.modal__title_delete {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  text-align: center;
}

.modal__delete-btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__confirm-delete-btn {
  background-color: transparent;
  border-style: none;
  color: #ff4d00;
  padding: 0;
  cursor: pointer;
}

.modal__cancel-btn {
  background-color: transparent;
  border-style: none;
  padding: 0;
  cursor: pointer;
}
